{% load static %}
{% load staticfiles %}
{% load static from staticfiles %}

{% load dajaxice_templatetags %}

<html>
<head>
<script src="{% static, '/static/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
<script src="{% static, '/static/dajax/jquery.dajax.core.js' %}" type="text/javascript"></script>
</head>
<body>
<form action="" id="my_form" accept-charset="utf-8" method="POST">
{{ form.as_p }}
<p><input type="button" value="Send" onclick="send_form();"></p>
</form></body>

<script>
function send_form(){
	Dajaxice.myapp.send_form(Dajax.process, {'form':$('#my_form').serialize(true)});
}
	
</script>

</html>