<html>
	<head>
		<title>
			Hello 
		</title>
	</head>
	<body>
		<h1>Hello there!</h1>
		<h2>Today is {{today}}</h2>
			{% for day in days_of_week %}
		<p> {{day}}</p>
		{% endfor %}

	</body>
</html>