{% extends 'main_template.html' %}

{% load comments %}

{% block title %} Hello Page extended {% endblock %}

{% block content %} 

<p> Hi. This is a extended block content <p>

<p> Our DreamReal entry:
<p><strong> Name : {{ dreamreal.name}}</strong></p>
<p><strong> Website : {{ dreamreal.website}}</strong></p>
<p><strong> Mail :{{ dreamreal.mail}}</strong></p>
<p><strong> Phone No. : {{ dreamreal.phonenumber}}</strong></p>
<p><strong> Comment Count : {% get_comment_count for dreamreal as comment_count %} {{ comment_count }}</strong></p>
<p> List of comments: </p>
{% render_comment_list for dreamreal %}
<p>
{% render_comment_form for dreamreal %}

{% endblock %}
