<html><body>


<form name="form" action='{% url "login" %}' method="POST" >{%csrf_token %}
	{% csrf_token %}
	<div>
		<input type="text" placeholder="username" name="username" >
	</div>

	<div>
		<input type="password" name="password" placeholder="password">
	</div>

	<div>
		<button type="submit" value="Login"><strong>Login</strong></button>
	</div>
</form>

</body></html>