<html><body>

<!-- <form name="saveprofile" action="{% url 'saveprofile' %}" method="POST"> -->
<form name="form" enctype="multipart/form-data" action="{% url 'saveprofile' %}" method="POST" >
{% csrf_token %}

<div>
<input type="text" name="name" placeholder="Image Name">
</div>
<br>
<div>
<input type="file" name="image" placeholder="Choose Image">
</div>
<br>
<div>
<button type="submit" value="Upload"><strong>Upload Image</strong></button>
</div>

</body></html>